
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <style>
        /* Add your custom styles here */
        .col-md-3 img {
            width: 100%;
            height: auto;
        }

        body .carousel-indicator li {
            background-color: aqua;
        }

        body .carousel-control-next-icon,
        body .carousel-control-prev-icon {
            background-color: blue;
            border-radius: 50%;
        }

        body .no-padding {
            padding-left: 0;
            padding-right: 0;
        }
    </style>

</head>

<body>
    {% load static %}

    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">KR4U</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Link
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Link</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <ul class="carousel-indicators list-group list-group-horizontal">
            <li data-target="#demo" data-slide-to='0' class="active"></li>
            <li data-target="#demo" data-slide-to='1'></li>
            <li data-target="#demo" data-slide-to='2'></li>
        </ul>

        <!-- Slide show here -->
        <div class="container carousel-inner nopadding">

            <div class="carousel-item active">
            <img src="{% static 'shop/image/django_project.png' %}" alt="Los Angeles" class="d-block w-100" />
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'shop/image/django_project.png' %}" alt="Los Angeles" class="d-block w-100" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>


            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'shop/image/django_project.png' %}" alt="Los Angeles" class="d-block w-100" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>


            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'shop/image/django_project.png' %}" alt="Los Angeles" class="d-block w-100" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>


            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'shop/image/django_project.png' %}" alt="Los Angeles" class="d-block w-100" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>



            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'shop/image/django_project.png' %}" alt="Los Angeles" class="d-block w-100" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'shop/image/django_project.png' %}" alt="Los Angeles" class="d-block w-100" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>


            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'shop/image/django_project.png' %}" alt="Los Angeles" class="d-block w-100" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>


            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'shop/image/django_project.png' %}" alt="Los Angeles" class="d-block w-100" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>



            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'shop/image/django_project.png' %}" alt="Los Angeles" class="d-block w-100" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Left and right Controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>


</body>

</html>